
body {
    background-color: #f8f8f8;
    margin: 0;
  }

.login-box
{
height: 50%;
width: 30%;
border: 1px solid grey;
margin-left: 35%;
margin-top: 10%;
position: relative;
box-shadow: 21px 12px 24px 10px rgba(255, 255, 255, 0.5);
background: #f7f7f7;
}
.letra{
    font-family: 'letra', sans-serif;
}
/* Estilos CSS para el icono de ticket */
.icono-ticket {
    color: #007BFF; /* Cambia el color según tus preferencias */
    font-size: 24px; /* Cambia el tamaño del icono */
    margin-right: 10px; /* Agrega margen derecho para separar el icono del texto */
}

.login-header
{
text-align: center;
font-family: "vardhana",cursive;
font-size: 35px;
background: linear-gradient(to bottom, #00bfff 0%, #5b6d7c 100%);
color:#fff;
position: relative;
box-shadow: 1px 3px 14px  rgb(255, 255, 255);
}
.login-body
{
padding: 20px;
line-height: 2;
}
.msg {
color: #e3dcdd;
background-color: #eee3e4;
border-color: #ebe4e5;
padding: .75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: .25rem;
}
.main{
margin-top:50px;
}

h1.title {
font-size: 50px;
font-family: 'Passion One', cursive;
font-weight: 400;
}

hr{
width: 10%;
color: #ffffff;
}

.form-group{
margin-bottom: 15px;
}

label{
margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
font-size: 11px;
padding-top: 3px;
}

.main-login{
background-color: #f1ecec;
/* shadows and rounded borders */
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0px 2px 2px rgba(235, 231, 231, 0.3);
-webkit-box-shadow: 0px 2px 2px rgb(26, 24, 24);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.table {
width: 100%;
border-collapse: collapse;
background-color: #ffffff;
}

th, td {
border: 1px solid #f3f3f3;
text-align: left;
padding: 8px;
}

th {
background-color: #fefefe;
}

tr:nth-child(even) {
background-color: #ffffff;
}
tr:hover {
background-color: #f8f1f1;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.form-control {
height: auto!important;
padding: 8px 12px !important;
}
.input-group {
-webkit-box-shadow: 0px 2px 5px 0px rgb(218, 206, 206)!important;
-moz-box-shadow: 0px 2px 5px 0px rgb(255, 255, 255)!important;
box-shadow: 0px 2px 5px 0px rgb(249, 247, 247)!important;
}
.main-center{
margin-top: 30px;
margin: 0 auto;
max-width: 400px;
padding: 10px 40px;
background:#5b6d7c;
color: #ebe5e5;
text-shadow: none;
-webkit-box-shadow: 0px 3px 5px 0px rgb(241, 236, 236);
-moz-box-shadow: 0px 3px 5px 0px rgba(243, 239, 239, 0.764);
box-shadow: 0px 3px 5px 0px rgba(228, 217, 217, 0.31);

}
.pendiente-color{
  background-color: rgb(206, 12, 12);
  
}
.en.proceso-color{
  background-color: rgb(193, 193, 66);
}
.finalizado-color{
  background-color: rgb(12, 144, 12);
}
span.input-group-addon i {
color: #f3ecec;
font-size: 17px;padding:10px;
}

.login-button{
margin-top: 5px;
}

.login-register{
font-size: 11px;
text-align: center;
}

.site-header {
background-color: rgba(20, 20, 20, 0.85);
-webkit-backdrop-filter: saturate(180%) blur(20px);
backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
color:#fff;
}
/* Estilos para tickets finalizados */
.finalizados {
    background-color: rgb(222, 222, 231); /* Fondo azul */
    color: rgb(0, 0, 0); /* Texto en blanco */
}
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}
.comment {
    margin-left: 20px;
    border-left: 2px solid #ccc; /* Línea que conecta los comentarios */
    padding: 10px;
    margin-bottom: 10px;
}

.creador{
    color: #3498DB;
    font-weight: bold;

}
.logoHome{
  position: absolute;
            top: 100px;  
            left: 200px;
}