{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Crear un nuevo ticket</h1>
    <form action="/Tickets" method="post">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo"><br>
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion"></textarea><br>
        <label for="creador">Creador:</label><br>
        <input type="text" id="creador" name="creador"><br><br>
        <input type="submit" value="Crear Ticket">
    </form>
    <a href="{{ url_for('ver_ticket') }}"><button>Ver Tickets</button></a>
{% endblock %}