<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de administración de usuarios</title>
</head>
<body>
<h1>Listado de usuarios</h1>
<div>
    Total de usuarios: {{total_personas}}
</div>
<div>
    <a href="/agregar">Agregar Usuario</a>
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Email</th>
                <th>Departamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.usuario}}</td>
                    <td>{{persona.contrasenia}}</td>
                    <td>{{persona.email}}</td>
                    <td>{{persona.departamento}}</td>
                    <td><a href="ver/{{persona.id}}">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>