{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h3>Crear nuevo ticket</h3>
    <form action="/Tickets" method="post">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo"><br>
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion"></textarea><br>
        <label>Creador: {{session.usuario}}</label><br>

        <input type="submit" value="Crear Ticket" class="btn btn-dark">
    </form>
<!--    <a href="{{ url_for('ver_ticket') }}"><button>Ver Tickets</button></a>-->
{% endblock %}